body {
  background-color: #fafafa !important;
  font-family: "Poppins", sans-serif !important;
}

.container.nav {
  padding: 0;
}

nav ul {
  padding: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #232631;
  padding-bottom: 2px;
}

nav ul li a:hover {
  /* border-bottom: 2px solid #5a4fcf; */
  color: #5a4fcf;
}

nav ul li a.active {
  border-bottom: 2px solid #5a4fcf;
}

nav ul li a.active:hover {
  color: #232631;
}
.search {
  position: relative;
  color: #858585;
}

.search input {
  height: 56px;
  text-indent: 25px;
  border-radius: 12px;
  border-width: 2px;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid blue;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.cta button {
  background: rgba(90, 79, 207, 0.1);
  color: #5a4fcf;
  border-radius: 12px;
  border: none;
}

.ads {
  margin-top: 60px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ads::-webkit-scrollbar {
  display: none;
}

.ads .restaurant {
  padding: 60px;
}

.ads .info {
  background: #fff;
  border-radius: 24px;
  color: #656565;
  padding: 24px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 390px;
  z-index: 1;
}

.ads .info .rating {
  color: #ffb800;
  display: inline-block;
}

.ads .info .restaurant-name {
  color: #232631;
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
}

.ads .info .price {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.ads .info .location {
  line-height: 24px;
}

.ads .info .reservation-btn {
  padding: 16px 28px;
  background-color: #fdc886;
  border-radius: 12px;
  color: #232631;
  font-weight: 600;
  width: fit-content;
  border: none;
}

.ads .info .bottom .additional-info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.ads .info .bottom .additional-info span {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  display: inline-flex;
  border: 1px solid #656565;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.ads .restaurant .image img {
  width: 1128px;
  height: 564px;
  object-fit: cover;
  border-radius: 24px;
}

.benefit {
  margin: 60px 0;
}

.benefit .intro {
  text-transform: uppercase;
  color: #5a4fcf;
  font-weight: 600;
}

.benefit .title {
  text-transform: capitalize;
  color: #232631;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 40px;
}

.benefit .benefit-list .card {
  text-align: center;
  padding: 0;
  border-radius: 24px;
  cursor: pointer;
}

.benefit .benefit-list .card .icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgba(253, 200, 134, 0.15);
  margin: auto;
  margin-top: 24px;
  font-size: 38px;
  color: #fdc886;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefit .benefit-list .card .benefit-title {
  font-weight: 600;
  font-size: 18px;
  margin-top: 24px;
}

.benefit .benefit-list .card .benefit-description {
  margin: 12px 24px 0 24px;
}

.benefit .benefit-list .card button {
  margin-top: 54px;
  background-color: transparent;
  padding: 24px;
  border: none;
  border-radius: 12px 12px 24px 24px;
}

.benefit .benefit-list .card:hover button {
  background-color: #fdc886;
}
