body {
  background-color: #fafafa !important;
  font-family: "Poppins", sans-serif !important;
}

.container.nav {
  padding: 0;
}

nav ul {
  padding: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #232631;
  padding-bottom: 2px;
}

nav ul li a:hover {
  /* border-bottom: 2px solid #5a4fcf; */
  color: #5a4fcf;
}

nav ul li a.active {
  border-bottom: 2px solid #5a4fcf;
}

nav ul li a.active:hover {
  color: #232631;
}
.search {
  position: relative;
  color: #858585;
}

.search input {
  height: 56px;
  text-indent: 25px;
  border-radius: 12px;
  border-width: 2px;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid blue;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.cta button {
  background: rgba(90, 79, 207, 0.1);
  color: #5a4fcf;
  border-radius: 12px;
  border: none;
}

.ads {
  margin-top: 60px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ads::-webkit-scrollbar {
  display: none;
}

.ads .restaurant {
  padding: 60px;
}

.ads .info {
  background: #fff;
  border-radius: 24px;
  color: #656565;
  padding: 24px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 390px;
  z-index: 1;
}

.ads .info .rating {
  color: #ffb800;
  display: inline-block;
}

.ads .info .restaurant-name {
  color: #232631;
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
}

.ads .info .price {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.ads .info .location {
  line-height: 24px;
}

.ads .info .reservation-btn {
  padding: 16px 28px;
  background-color: #fdc886;
  border-radius: 12px;
  color: #232631;
  font-weight: 500;
  width: fit-content;
  border: none;
}

.ads .info .bottom .additional-info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}
.ads .info .bottom .additional-info span {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  display: inline-flex;
  border: 1px solid #656565;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.ads .restaurant .image img {
  width: 1128px;
  height: 564px;
  object-fit: cover;
  border-radius: 24px;
}
